
.sm-header{
	padding: 5px 0 ;
}
.color-orange {
	 color: #e97900;
}


/* ---- Alignments ---- */

.centered{float: none; margin: auto;}
.left {float: left;}
.right {float: right;}

.text-left {text-align: left;}
.text-right {text-align: right;}
.text-center {text-align: center;}
.text-justify {text-align: justify;}
.text-mayusc{ text-transform: uppercase;}
.text-minus{ text-transform: lowercase;}
.text-none{ text-transform: none!important; }
.text-bold{  font-weight: bold!important;}

.text-min{ font-size:10px;}
.text-sm{ font-size:12px;}
.text-sm-md{ font-size:14.5px;}
.text-md{ font-size:14px;}
.text-ml{ font-size:15px;}
.text-lg{ font-size:16px;}
.text-xlg{ font-size:18px;}
.text-xxlg{ font-size:20px;}

.fs-xs{ font-size:.50em;}
.fs-sm{ font-size:0.75em;}
.fs-md{ font-size:.875em;}
.fs-lg{ font-size:1.375em;}

.fs-1x{ font-size:1em;}
.fs-1x-xs{ font-size:1.25em;}
.fs-1x-md{ font-size:1.50em;}
.fs-1x-lg{ font-size:1.75em;}
.fs-2x{ font-size:2em;}
.fs-2x-xs{ font-size:2.25em;}
.fs-2x-md{ font-size:2.5em;}
.fs-2x-lg{ font-size:2.75em;}
.fs-3x{ font-size:3em;}
.fs-3x-xs{ font-size:3.25em;}
.fs-3x-md{ font-size:3.50em;}
.fs-3x-lg{ font-size:3.75em;}
.fs-4x{ font-size:4em;}
.fs-4x-xs{ font-size:4.25em;}
.fs-4x-md{ font-size:4.50em;}
.fs-4x-lg{ font-size:4.75em;}
.fs-5x{ font-size:5em;}


.margin-none {margin: 0;}

.margin-min-all {margin: 5px;}
.margin-min-top {margin-top: 5px;}
.margin-min-bot {margin-bottom: 5px;}
.margin-min-left {margin-left: 5px;}
.margin-min-right {margin-right: 5px;}
.margin-min-h {margin: 5px 0 ;}
.margin-min-v {margin: 0 5px;}

.margin-sm-all {margin: 10px;}
.margin-sm-top {margin-top: 10px;}
.margin-sm-bot {margin-bottom: 10px;}
.margin-sm-left {margin-left: 10px;}
.margin-sm-right {margin-right: 10px;}
.margin-sm-h {margin: 10px 0 ;}
.margin-sm-v {margin: 0 10px;}

.margin-all {margin: 20px;}
.margin-top {margin-top: 20px;}
.margin-bot {margin-bottom: 20px;}
.margin-left {margin-left: 20px;}
.margin-right {margin-right: 20px;}
.margin-h {margin: 20px 0 ;}
.margin-v {margin: 0 20px;}

.padd-none{padding: 0;}

.padd-min-all {padding: 5px;}
.padd-min-top {padding-top: 5px;}
.padd-min-bot {padding-bottom: 5px;}
.padd-min-left {padding-left: 5px;}
.padd-min-right {padding-right: 5px;}
.padd-min-h {padding: 5px 0;}
.padd-min-v {padding: 0 5px;}
.padd-min-tp-bt {padding-top:  5px;padding-bottom:  5px;}
.padd-min-lf-rg {padding-right:  5px;padding-left:  5px;}

.padd-sm-all {padding-top: 10px;}
.padd-sm-top {padding-top: 10px;}
.padd-sm-bot {padding-bottom: 10px;}
.padd-sm-left {padding-left: 10px;}
.padd-sm-right {padding-right: 10px;}
.padd-sm-h {padding: 10px 0;}
.padd-sm-v {padding: 0 10px;}
.padd-sm-tp-bt {padding-top:  10px;padding-bottom:  10px;}
.padd-sm-lf-rg {padding-right:  10px;padding-left:  10px;}

.padd-all {padding-top: 20px;}
.padd-top {padding-top: 20px;}
.padd-bot {padding-bottom: 20px;}
.padd-left {padding-left: 20px;}
.padd-right {padding-right: 20px;}
.padd-h {padding: 20px 0;}
.padd-v {padding: 0 20px;}
.padd-tp-bt {padding-top:  20px;padding-bottom:  20px;}
.padd-lf-rg {padding-right:  20px;padding-left:  20px;}


.show{display: block;}
.hide{display: none;}
.bold{font-weight: bold;}
.bold-normal{font-weight: normal!important;}
.inline{display: inline-block;}


.clear-both{
  clear: both;
}
.bg-none{
	background-color: transparent!important;
}
.boder-none{
	border: none;
}

/**/

.icon-service{
	background-image   : url("../../img/service/icon-service.png");
	background-repeat  : no-repeat ;
	background-position: center ;
	height: 120px ;
	width: 120px ;
}
.color-black,
.color-black li,
.color-black i{
	color: #1B1919!important ;
}


.list-style-2 li,
.list-style-2 li i{
	font-weight: 100!important ;
	text-shadow: none!important;
}
.bg-caja-slider{
	background-color: rgba(1 ,60 ,94,0.5);
}